html, body,.content-body{
    height: 100%;
}

.fa-lg {
    font-size: 1em;
}

.fa {
    position: relative;
    display: table-cell;
    width: 55px;
    height: 41px;
    text-align: center;
    top:12px; 
    font-size:20px;
}

.main-menu:hover, nav.main-menu.expanded {
    width:250px;
    overflow:hidden;
}

.main-menu {
    background:#F7F7F7;
    border-right:1px solid #e5e5e5;
    position:absolute;
    position: fixed;
    top:0;
    bottom:0;
    height:100%;
    left:0;
    z-index: 1000;
    width:55px;
    overflow:hidden;
    -webkit-transition:width .2s linear;
    transition:width .2s linear;
    -webkit-transform:translateZ(0) scale(1,1);
    box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
}

.main-menu>ul {
    margin:7px 0;
}

.main-menu li {
    position:relative;
    display:block;
    width:250px;
}

.main-menu li>a {
    position:relative;
    width:250px;
    display:table;
    border-collapse:collapse;
    border-spacing:0;
    color:#959595;
    font-size: 14px;
    text-decoration:none;
    -webkit-transform:translateZ(0) scale(1,1);
    -webkit-transition:all .14s linear;
    transition:all .14s linear;
    font-family: 'Strait', sans-serif;
    border-top:1px solid #F0F0F0;
    box-shadow:inset 0 1px 1px #FAFAFA;
    text-shadow: 1px 1px 1px  #fff;  
}

.main-menu .nav-icon {
    position:relative;
    display:table-cell;
    width:55px;
    height:41px;
    text-align:center;
    vertical-align:middle;
    font-size:18px;
}

.main-menu .nav-text  {
    position:relative;
    display:table-cell;
    vertical-align:middle;
    width:190px;
    font-family: 'Titillium Web', sans-serif;
}

.main-menu .fb-like {
    left: 180px;
    position:absolute;
    top: 15px;
}

.main-menu>ul.logout {
    position:absolute;
    left:0;
    bottom:0;
}

a:hover,a:focus {
    text-decoration:none;
    border-left:0px solid #F7F7F7;
}

nav ul, nav li{
    outline:0;
    margin:0;
    padding:0;
}

.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
    color:#fff;
    background-color:#00bbbb;
    text-shadow: 0px 0px 0px; 
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

.Logo{
    height: 40px;
}

.content-body{
    padding-left: 55px;
    width: 100%;
    background: url('../images/z3311.jpg');
}

.content-header{
    height: 225px;
    width: 100%;
    padding: 20px;
}

.block{
    height: 50%;
}

.header-info{
    height: 100%;
}

.breadcrumb{
    margin-bottom: 0px;
    background-color:transparent;
}

#welcome h1{
    margin-top: 10px;
    font-size: 30px;
    margin-left: 13px;
    color: #666;
}

/*面包屑导航分割线颜色*/
.breadcrumb>li+li:before{
    color: #000;
}

.dashboard{
    padding: 12px;
    min-height: 749px;
    background-color: #F7F7F7;
    margin: 0;
}
.chart-block{
    display: inline-block;
    width: 49%;
    height: 384px;
    margin-left: .5%;
    background-color: #777;
}

.result-chart, .ranking-chart{
    padding: 12px;
    height: 384px;
    width: 100%;
    display: inline-block;
    background-color: #eee;
}

.chart-head{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.005em;
    margin-bottom: 12px;
}

.chart{
    width: 100%;
    height: 320px;
    background-color: white;
    box-shadow: 0px 2px 7px 1px #aaaaaa;
}

#homework-list-title{
    font-size: 20px;
    height: 62px;
    width: 100%;
    padding-left: 15px;
    line-height: 62px;
}

.hw-item{
    width: 32%;
    padding: 0px 12px;
    height: 231px;
    background-color: white;
    box-shadow: 0px 2px 4px .5px #aaaaaa;
    margin-left: 15px;
    display: inline-block;
    margin-top: 12px;
    margin-bottom: 12px;
    opacity: 0.7;
    transition: all 0.3s ease;
    position: relative;
    z-index: 0
}

.hw-item a{
    color: #333;
}

.hw-item:hover{
    opacity: 1;
    /*transform: scale(1.05);*/
}

.item-content{
    position: absolute; 
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: white;
}

.hw-head{
    font-size: 16px;
    padding: 12px 24px;
}

.hw-detail{
    padding: 44px;
    height: 140px;
    width: 100%;
    font-size: 34px;
    text-align: center;
    font-weight: 500;
    color: rgb(158,158,158);

}

.hw-status{
    height: 45px;
    width: 100%;
    padding: 12px 24px;
    border-top: 1px solid #ddd;
}

.start-time{
    float: left;
}

.end-time{
    float: right;
}

#rank-chart, #score-chart{
    width: 485.5px;
    height: 320px;
    margin: 0px auto;
}

.detail-block{
    background-color: #eee;
    width: 49.8%;
    padding: 12px;
    display: inline-block;
}

.block-wrapper{
    width: 100%;
}

.detail-ranking, .score-distribution{
    background-color: white;
    box-shadow: 0px 1px 1px .5px #aaaaaa;
}

.block-header{
    padding: 12px 24px;
    width: 100%;
    height: 74px;
    font-size: 20px;
    letter-spacing: 0.005em;
    line-height: 50px;
    border-bottom: 1px solid #ccc;
}

.rank-data{
    min-height: 200px;
    width: 100%;
}

.substitution{
    padding: 44px;
    height: 200px;
    width: 100%;
    font-size: 18px;
    line-height: 112px;
    text-align: center;
    margin-bottom: 0;
}

#schart{
    width: 100%;
    height: 400px;
}

.table>tbody>tr>td, .table>thead>tr>th{
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    padding: 0 50px;
}

.table>thead>tr>th{
    border-bottom: 0px solid #ddd;
    font-weight: 500;
}

.dropdown{
    float: right;
}

.dropdown-menu{
    max-height: 256px;
    overflow-y: scroll;
}

.main-block{
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px; 
}

.main-block-box{
    box-shadow: 0px 1px 4px 2px #aaaaaa;
}

.msg-item{
    height: 80px;
    background-color: white;
    font-size: 17px;
}

.msg-item:hover{
    background-color: #d7d7d7;
}

.msg-time{
    text-align: center;
    line-height: 80px;
    color: #aaa;
}

.msg-title-group{
    padding-left: 50px;
}

.msg-from, .msg-title{
    margin-top: 10px;
    color: #337ac7;
}

.main-block-box .row{
    margin-left: 0;
    margin-right: 0;
}

.edit-area{
    padding: 50px 0px;
}

.user-hw-status{
    clear: both;
    float: right;
}

.hw-content{
    padding:50px;
    clear: both;
}

.hw-content .row div, .upload-head{
    font-size: 18px;
    min-height: 50px;
    line-height: 50px;

}

#upload-hw{
    min-height: 100px;
    padding-left: 50px;
    width: 80%;
    overflow: hidden;
}

.upload-head{
    width: 17%;
    float: left;
    padding-left: 15px;
}

.upload-group{
    width: 83%;
    float: left;
    padding-top: 8px;
}

.user-hw-status a, .user-hw-status a:hover{
    color: white;
}

.user-hw-status{
    margin: 7.5px 0px;
}

.background{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../images/item-bg.png");
    z-index: 10; 
    bottom: -10px;
    left: 10px; 
}

.highcharts-credits{
    display: none;
}