<?xml version="1.0" encoding="UTF-8"?>

<web-app>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>servlets.LoginServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SignupServlet</servlet-name>
		<servlet-class>servlets.SignupServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>SignupServlet</servlet-name>
		<url-pattern>/signup</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SignoutServlet</servlet-name>
		<servlet-class>servlets.SignoutServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>SignoutServlet</servlet-name>
		<url-pattern>/signout</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>HomeServlet</servlet-name>
		<servlet-class>servlets.HomeServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>HomeServlet</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	
	<servlet>
    <servlet-name>PublishServlet</servlet-name>
    <servlet-class>servlets.PublishServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>PublishServlet</servlet-name>
    <url-pattern>/publish</url-pattern>
  </servlet-mapping>
	
	<servlet>
		<servlet-name>RankingServlet</servlet-name>
		<servlet-class>servlets.RankingServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>RankingServlet</servlet-name>
		<url-pattern>/ranking</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>NotifyServlet</servlet-name>
		<servlet-class>servlets.NotifyServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>NotifyServlet</servlet-name>
		<url-pattern>/notification</url-pattern>
	</servlet-mapping>
	
	<servlet>
    <servlet-name>HwDetailServlet</servlet-name>
    <servlet-class>servlets.HwDetailServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>HwDetailServlet</servlet-name>
    <url-pattern>/homework-detail</url-pattern>
  </servlet-mapping>
	
	<servlet>
    <servlet-name>UserInfoServlet</servlet-name>
    <servlet-class>servlets.UserInfoServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>UserInfoServlet</servlet-name>
    <url-pattern>/user-info</url-pattern>
  </servlet-mapping>
	
	
	<servlet>
    <servlet-name>HomeworkModifyServlet</servlet-name>
    <servlet-class>servlets.HomeworkModifyServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>HomeworkModifyServlet</servlet-name>
    <url-pattern>/homework-modify</url-pattern>
  </servlet-mapping>
	
	<servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>servlets.UploadServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>servlets.DownloadServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
	
	<filter>
		<filter-name>AuthFilter</filter-name>
		<filter-class>filters.AuthFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>